<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Produtos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1 style="text-align: center">Gerenciador de tarefas (TODO List)</h1>


    <div class="alert alert-success" th:if="${#httpServletRequest.getParameter('insert') == 'true'}">
        Tarefa Inserida com sucesso
    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tarefa : ${tarefas}">
            <td th:text="${tarefa.id}"></td>
            <td th:text="${tarefa.nome}"></td>
            <!--<td th:text="${tarefa.status == 0? 'Não iniciada' : 'Em andamento'}"></td>-->
            <div th:switch="${tarefa.status}">
                <td th:case="0">Não iniciada</td>
                <td th:case="1">Em andamento</td>
                <td th:case="2">Concluída</td>
            </div>
            <td>
                <a th:if="${tarefa.status == 0 || tarefa.status == 1}" class="btn btn-primary col-md-4" th:href="@{/tarefa/alterar/{id}(id=${tarefa.id})}">Editar</a>
                <a th:if="${tarefa.status == 0}" class="btn btn-success col-md-4 iniciarTarefa" th:attr="id = ${tarefa.id}, nome = ${tarefa.nome}" th:href="@{/tarefa/iniciar/{id}(id=${tarefa.id})}" data-toggle="modal" data-target="#exampleModal">Iniciar</a>
                <a th:if="${tarefa.status == 1}" class="btn btn-warning col-md-4 concluirTarefa" th:attr="id = ${tarefa.id}, nome = ${tarefa.nome}" th:href="@{/tarefa/concluir/{id}/1(id=${tarefa.id})}" data-toggle="modal" data-target="#concluirModal">Concluir</a>
                <a th:if="${tarefa.status == 2}" class="btn btn-primary col-md-4 visualizarDados" th:attr="id = ${tarefa.id}, nome = ${tarefa.nome}" th:href="@{/tarefa/visualizar/{id}(id=${tarefa.id})}" data-toggle="modal" data-target="#visualizarModal">Visualizar Dados</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Iniciar tarefa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>Deseja iniciar a tarefa <span id="nomeTarefaModal"></span>?</div>
                </div>
                <div class="modal-footer">
                    <a href="/tarefa"><button id="sim" class="btn btn-success" >Sim</button></a>
                    <button id="naoexcluir" class="btn btn-secondary" data-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->

        <div class="modal fade" id="concluirModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="concluirModalLabel">Concluir tarefa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>Deseja finalizar a tarefa <span id="nomeTarefaModal2"></span>?</div>
                        <div>
                            <form method="POST" th:object="${tarefa}">
                                Selecione a nota:
                                <select  >
                                    <option th:value="1">1</option>
                                    <option th:value="2">2</option>
                                    <option th:value="3">3</option>
                                    <option th:value="4">4</option>
                                    <option th:value="5">5</option>
                                </select>
                            </form>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <a href="/tarefa"><button id="sim2" class="btn btn-success" >Sim</button></a>
                        <button id="naoexcluir2" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    </div>
                </div>
            </div>
        </div>


    <a class="btn btn-success" th:href="@{/tarefa/adicionar}">Nova tarefa</a>
</div>
<script>

    $( ".iniciarTarefa" ).click(function(e) {
        e.preventDefault();
        var nomeTarefa = $(this).attr("nome");
        var idTarefa = $(this).attr("id");
        $("#exampleModal").modal('show');
        $("#nomeTarefaModal").text(nomeTarefa);

        $('#sim').closest('a').attr('href', $(this).attr('href'));

    });

    $( ".concluirTarefa" ).click(function(e) {
        e.preventDefault();
        var nomeTarefa = $(this).attr("nome");
        var idTarefa = $(this).attr("id");
        $("#concluirModal").modal('show');
        $("#nomeTarefaModal2").text(nomeTarefa);

        $('#sim2').closest('a').attr('href', $(this).attr('href'));

    });

    $('select').on('change', function() {
        var sizestring = $('#sim2').closest('a').attr('href').length;
        $('#sim2').closest('a').attr('href', $('#sim2').closest('a').attr('href').substring(0, sizestring-1) + this.value);
    });
</script>

</body>
</html>